In [8]:
import pandas as pd

In [9]:
import numpy as np

In [10]:
import matplotlib.pyplot as plt

In [11]:
import seaborn as sns

In [18]:
dfhouse=pd.read_csv("C:\\Users\\Legion\\OneDrive\\Desktop\\data\\Melbourne_housing.csv")

In [19]:
dfhouse.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [20]:
dfaus=dfhouse[["Suburb",'Rooms','Type', 'Method','SellerG','Regionname', 'Propertycount','Distance','CouncilArea', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'Price']]

In [21]:
dfaus

,Suburb,Rooms,Type,Method,SellerG,Regionname,Propertycount,Distance,CouncilArea,Bedroom2,Bathroom,Car,Landsize,BuildingArea,Price
0,Abbotsford,2,h,SS,Jellis,Northern Metropolitan,4019.0,2.5,Yarra City Council,2.0,1.0,1.0,126.0,NaN,NaN
1,Abbotsford,2,h,S,Biggin,Northern Metropolitan,4019.0,2.5,Yarra City Council,2.0,1.0,1.0,202.0,NaN,1480000.0
2,Abbotsford,2,h,S,Biggin,Northern Metropolitan,4019.0,2.5,Yarra City Council,2.0,1.0,0.0,156.0,79.0,1035000.0
3,Abbotsford,3,u,VB,Rounds,Northern Metropolitan,4019.0,2.5,Yarra City Council,3.0,2.0,1.0,0.0,NaN,NaN
4,Abbotsford,3,h,SP,Biggin,Northern Metropolitan,4019.0,2.5,Yarra City Council,3.0,2.0,0.0,134.0,150.0,1465000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34852,Yarraville,4,h,PI,Jas,Western Metropolitan,6543.0,6.3,Maribyrnong City Council,4.0,1.0,3.0,593.0,NaN,1480000.0
34853,Yarraville,2,h,SP,Sweeney,Western Metropolitan,6543.0,6.3,Maribyrnong City Council,2.0,2.0,1.0,98.0,104.0,888000.0
34854,Yarraville,2,t,S,Jas,Western Metropolitan,6543.0,6.3,Maribyrnong City Council,2.0,1.0,2.0,220.0,120.0,705000.0
34855,Yarraville,3,h,SP,hockingstuart,Western Metropolitan,6543.0,6.3,Maribyrnong City Council,NaN,NaN,NaN,NaN,NaN,1140000.0
34856,Yarraville,2,h,PI,RW,Western Metropolitan,6543.0,6.3,Maribyrnong City Council,2.0,1.0,0.0,250.0,103.0,1020000.0

In [22]:
dfaus.isna().sum()

Suburb               0
Rooms                0
Type                 0
Method               0
SellerG              0
Regionname           3
Propertycount        3
Distance             1
CouncilArea          3
Bedroom2          8217
Bathroom          8226
Car               8728
Landsize         11810
BuildingArea     21115
Price             7610
dtype: int64

In [23]:
dfaus[["Propertycount","Distance","Bedroom2","Bathroom","Car"]]

       Propertycount  Distance  Bedroom2  Bathroom  Car
0             4019.0       2.5       2.0       1.0  1.0
1             4019.0       2.5       2.0       1.0  1.0
2             4019.0       2.5       2.0       1.0  0.0
3             4019.0       2.5       3.0       2.0  1.0
4             4019.0       2.5       3.0       2.0  0.0
...              ...       ...       ...       ...  ...
34852         6543.0       6.3       4.0       1.0  3.0
34853         6543.0       6.3       2.0       2.0  1.0
34854         6543.0       6.3       2.0       1.0  2.0
34855         6543.0       6.3       NaN       NaN  NaN
34856         6543.0       6.3       2.0       1.0  0.0

[34857 rows x 5 columns]

In [24]:
dfaus[["Propertycount","Distance","Bedroom2","Bathroom","Car"]].isna().sum()

Propertycount       3
Distance            1
Bedroom2         8217
Bathroom         8226
Car              8728
dtype: int64

In [25]:
dfaus[["Propertycount","Distance","Bedroom2","Bathroom","Car"]].fillna(0)

       Propertycount  Distance  Bedroom2  Bathroom  Car
0             4019.0       2.5       2.0       1.0  1.0
1             4019.0       2.5       2.0       1.0  1.0
2             4019.0       2.5       2.0       1.0  0.0
3             4019.0       2.5       3.0       2.0  1.0
4             4019.0       2.5       3.0       2.0  0.0
...              ...       ...       ...       ...  ...
34852         6543.0       6.3       4.0       1.0  3.0
34853         6543.0       6.3       2.0       2.0  1.0
34854         6543.0       6.3       2.0       1.0  2.0
34855         6543.0       6.3       0.0       0.0  0.0
34856         6543.0       6.3       2.0       1.0  0.0

[34857 rows x 5 columns]

In [26]:
dfaus[["Propertycount","Distance","Bedroom2","Bathroom","Car"]].fillna(0).isna().sum()

Propertycount    0
Distance         0
Bedroom2         0
Bathroom         0
Car              0
dtype: int64

In [27]:
dfaus[["Propertycount","Distance","Bedroom2","Bathroom","Car"]].fillna(0,inplace=True)

C:\Users\Legion\AppData\Local\Temp\ipykernel_23232\705532511.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfaus[["Propertycount","Distance","Bedroom2","Bathroom","Car"]].fillna(0,inplace=True)

In [29]:
dfaus[["Propertycount","Distance","Bedroom2","Bathroom","Car"]]=dfaus[["Propertycount","Distance","Bedroom2","Bathroom","Car"]].fillna(0)

C:\Users\Legion\AppData\Local\Temp\ipykernel_23232\3604419288.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfaus[["Propertycount","Distance","Bedroom2","Bathroom","Car"]]=dfaus[["Propertycount","Distance","Bedroom2","Bathroom","Car"]].fillna(0)

In [30]:
dfaus[["Propertycount","Distance","Bedroom2","Bathroom","Car"]].isna().sum()

Propertycount    0
Distance         0
Bedroom2         0
Bathroom         0
Car              0
dtype: int64

In [31]:
dfaus.isna().sum()

Suburb               0
Rooms                0
Type                 0
Method               0
SellerG              0
Regionname           3
Propertycount        0
Distance             0
CouncilArea          3
Bedroom2             0
Bathroom             0
Car                  0
Landsize         11810
BuildingArea     21115
Price             7610
dtype: int64

In [32]:
dfaus["Landsize"].mean()

593.598993361392

In [33]:
np.round(dfaus["Landsize"].mean())

594.0

In [36]:
dfaus["Landsize"]=dfaus["Landsize"].fillna(np.round(dfaus["Landsize"].mean()))

C:\Users\Legion\AppData\Local\Temp\ipykernel_23232\3533976472.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfaus["Landsize"]=dfaus["Landsize"].fillna(np.round(dfaus["Landsize"].mean()))

In [37]:
dfaus["Landsize"].isna().sum()

0

In [38]:
dfaus["BuildingArea"]

0          NaN
1          NaN
2         79.0
3          NaN
4        150.0
         ...
34852      NaN
34853    104.0
34854    120.0
34855      NaN
34856    103.0
Name: BuildingArea, Length: 34857, dtype: float64

In [39]:
dfaus["BuildingArea"].mean()

160.2564003565711

In [40]:
np.round(dfaus["BuildingArea"].mean())

160.0

In [42]:
dfaus["BuildingArea"]=dfaus["BuildingArea"].fillna(np.round(dfaus["BuildingArea"].mean()))

C:\Users\Legion\AppData\Local\Temp\ipykernel_23232\1812912383.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfaus["BuildingArea"]=dfaus["BuildingArea"].fillna(np.round(dfaus["BuildingArea"].mean()))

In [43]:
dfaus["BuildingArea"].isna().sum()

0

In [44]:
dfaus.isna().sum()

Suburb              0
Rooms               0
Type                0
Method              0
SellerG             0
Regionname          3
Propertycount       0
Distance            0
CouncilArea         3
Bedroom2            0
Bathroom            0
Car                 0
Landsize            0
BuildingArea        0
Price            7610
dtype: int64

In [45]:
dfaus.dropna().isna().sum()

Suburb           0
Rooms            0
Type             0
Method           0
SellerG          0
Regionname       0
Propertycount    0
Distance         0
CouncilArea      0
Bedroom2         0
Bathroom         0
Car              0
Landsize         0
BuildingArea     0
Price            0
dtype: int64

In [46]:
dfaus.dropna(inplace=True)

C:\Users\Legion\AppData\Local\Temp\ipykernel_23232\4162188634.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfaus.dropna(inplace=True)

In [47]:
dfaus.isna().sum()

Suburb           0
Rooms            0
Type             0
Method           0
SellerG          0
Regionname       0
Propertycount    0
Distance         0
CouncilArea      0
Bedroom2         0
Bathroom         0
Car              0
Landsize         0
BuildingArea     0
Price            0
dtype: int64

In [48]:
dfaus

,Suburb,Rooms,Type,Method,SellerG,Regionname,Propertycount,Distance,CouncilArea,Bedroom2,Bathroom,Car,Landsize,BuildingArea,Price
1,Abbotsford,2,h,S,Biggin,Northern Metropolitan,0,0,Yarra City Council,0,0,0,202.0,160.0,1480000.0
2,Abbotsford,2,h,S,Biggin,Northern Metropolitan,0,0,Yarra City Council,0,0,0,156.0,79.0,1035000.0
4,Abbotsford,3,h,SP,Biggin,Northern Metropolitan,0,0,Yarra City Council,0,0,0,134.0,150.0,1465000.0
5,Abbotsford,3,h,PI,Biggin,Northern Metropolitan,0,0,Yarra City Council,0,0,0,94.0,160.0,850000.0
6,Abbotsford,4,h,VB,Nelson,Northern Metropolitan,0,0,Yarra City Council,0,0,0,120.0,142.0,1600000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34852,Yarraville,4,h,PI,Jas,Western Metropolitan,0,0,Maribyrnong City Council,0,0,0,593.0,160.0,1480000.0
34853,Yarraville,2,h,SP,Sweeney,Western Metropolitan,0,0,Maribyrnong City Council,0,0,0,98.0,104.0,888000.0
34854,Yarraville,2,t,S,Jas,Western Metropolitan,0,0,Maribyrnong City Council,0,0,0,220.0,120.0,705000.0
34855,Yarraville,3,h,SP,hockingstuart,Western Metropolitan,0,0,Maribyrnong City Council,0,0,0,594.0,160.0,1140000.0
34856,Yarraville,2,h,PI,RW,Western Metropolitan,0,0,Maribyrnong City Council,0,0,0,250.0,103.0,1020000.0

In [53]:
dfaus=pd.get_dummies(dfaus,drop_first=True)

In [54]:
dfaus

,Rooms,Propertycount,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,Price,Suburb_Aberfeldie,...,CouncilArea_Moorabool Shire Council,CouncilArea_Moreland City Council,CouncilArea_Nillumbik Shire Council,CouncilArea_Port Phillip City Council,CouncilArea_Stonnington City Council,CouncilArea_Whitehorse City Council,CouncilArea_Whittlesea City Council,CouncilArea_Wyndham City Council,CouncilArea_Yarra City Council,CouncilArea_Yarra Ranges Shire Council
1,2,0,0,0,0,0,202.0,160.0,1480000.0,0,...,0,0,0,0,0,0,0,0,1,0
2,2,0,0,0,0,0,156.0,79.0,1035000.0,0,...,0,0,0,0,0,0,0,0,1,0
4,3,0,0,0,0,0,134.0,150.0,1465000.0,0,...,0,0,0,0,0,0,0,0,1,0
5,3,0,0,0,0,0,94.0,160.0,850000.0,0,...,0,0,0,0,0,0,0,0,1,0
6,4,0,0,0,0,0,120.0,142.0,1600000.0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34852,4,0,0,0,0,0,593.0,160.0,1480000.0,0,...,0,0,0,0,0,0,0,0,0,0
34853,2,0,0,0,0,0,98.0,104.0,888000.0,0,...,0,0,0,0,0,0,0,0,0,0
34854,2,0,0,0,0,0,220.0,120.0,705000.0,0,...,0,0,0,0,0,0,0,0,0,0
34855,3,0,0,0,0,0,594.0,160.0,1140000.0,0,...,0,0,0,0,0,0,0,0,0,0
34856,2,0,0,0,0,0,250.0,103.0,1020000.0,0,...,0,0,0,0,0,0,0,0,0,0

In [55]:
dfaus.dtypes

Rooms                                     int64
Propertycount                             int64
Distance                                  int64
Bedroom2                                  int64
Bathroom                                  int64
                                          ...
CouncilArea_Whitehorse City Council       uint8
CouncilArea_Whittlesea City Council       uint8
CouncilArea_Wyndham City Council          uint8
CouncilArea_Yarra City Council            uint8
CouncilArea_Yarra Ranges Shire Council    uint8
Length: 745, dtype: object

In [57]:
X=dfaus.drop("Price",axis=1)

In [58]:
X

,Rooms,Propertycount,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,Suburb_Aberfeldie,Suburb_Airport West,...,CouncilArea_Moorabool Shire Council,CouncilArea_Moreland City Council,CouncilArea_Nillumbik Shire Council,CouncilArea_Port Phillip City Council,CouncilArea_Stonnington City Council,CouncilArea_Whitehorse City Council,CouncilArea_Whittlesea City Council,CouncilArea_Wyndham City Council,CouncilArea_Yarra City Council,CouncilArea_Yarra Ranges Shire Council
1,2,0,0,0,0,0,202.0,160.0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,2,0,0,0,0,0,156.0,79.0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,3,0,0,0,0,0,134.0,150.0,0,0,...,0,0,0,0,0,0,0,0,1,0
5,3,0,0,0,0,0,94.0,160.0,0,0,...,0,0,0,0,0,0,0,0,1,0
6,4,0,0,0,0,0,120.0,142.0,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34852,4,0,0,0,0,0,593.0,160.0,0,0,...,0,0,0,0,0,0,0,0,0,0
34853,2,0,0,0,0,0,98.0,104.0,0,0,...,0,0,0,0,0,0,0,0,0,0
34854,2,0,0,0,0,0,220.0,120.0,0,0,...,0,0,0,0,0,0,0,0,0,0
34855,3,0,0,0,0,0,594.0,160.0,0,0,...,0,0,0,0,0,0,0,0,0,0
34856,2,0,0,0,0,0,250.0,103.0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [59]:
y=dfaus["Price"]

In [60]:
y

1        1480000.0
2        1035000.0
4        1465000.0
5         850000.0
6        1600000.0
           ...
34852    1480000.0
34853     888000.0
34854     705000.0
34855    1140000.0
34856    1020000.0
Name: Price, Length: 27244, dtype: float64

In [61]:
from sklearn.model_selection import train_test_split

In [141]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.20,random_state=2)

In [142]:
X.shape,X_train.shape,X_test.shape

((27244, 744), (21795, 744), (5449, 744))

In [143]:
y.shape,y_train.shape,y_test.shape

((27244,), (21795,), (5449,))

In [144]:
from sklearn.linear_model import LinearRegression

In [145]:
lreg=LinearRegression()

In [146]:
lreg.fit(X_train,y_train)

LinearRegression()

In [147]:
lreg.score(X_test,y_test)

-2258736.095943639

In [148]:
lreg.score(X_train,y_train)

0.6657648129447589

In [149]:
from sklearn.linear_model import Lasso

In [150]:
las=Lasso()

In [151]:
las.fit(X_train,y_train)

C:\Users\Legion\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.239e+15, tolerance: 8.996e+11
  model = cd_fast.enet_coordinate_descent(

Lasso()

In [152]:
las.score(X_test,y_test)

0.6549830840707798

In [153]:
las.score(X_train,y_train)

0.665751489785886

In [154]:
from sklearn.linear_model import Ridge

In [155]:
rid=Ridge()

In [156]:
rid.fit(X_train,y_train)

Ridge()

In [157]:
rid.score(X_test,y_test)

0.6579754889589597

In [158]:
rid.score(X_train,y_train)

0.6651933275841393