In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
clist=["India","Japan","Russia","India","UK","France","India","USA"]

In [4]:
dfc=pd.DataFrame(clist,columns=["country"])

In [5]:
dfc

  country
0   India
1   Japan
2  Russia
3   India
4      UK
5  France
6   India
7     USA

In [6]:
from sklearn.preprocessing import OneHotEncoder

In [7]:
ohe=OneHotEncoder(drop="first")

In [8]:
ohe

OneHotEncoder(drop='first')

In [10]:
ohe.fit(dfc[["country"]])

OneHotEncoder(drop='first')

In [12]:
ohe.transform(dfc[["country"]]).toarray()

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [1., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1.]])

In [13]:
ohe.categories_

[array(['France', 'India', 'Japan', 'Russia', 'UK', 'USA'], dtype=object)]

*** get Dummies

In [14]:
dfc

  country
0   India
1   Japan
2  Russia
3   India
4      UK
5  France
6   India
7     USA

In [15]:
pd.get_dummies(dfc[["country"]])

,country_France,country_India,country_Japan,country_Russia,country_UK,country_USA
0,0,1,0,0,0,0
1,0,0,1,0,0,0
2,0,0,0,1,0,0
3,0,1,0,0,0,0
4,0,0,0,0,1,0
5,1,0,0,0,0,0
6,0,1,0,0,0,0
7,0,0,0,0,0,1

In [16]:
pd.get_dummies(dfc[["country"]],drop_first=True)

   country_India  country_Japan  country_Russia  country_UK  country_USA
0              1              0               0           0            0
1              0              1               0           0            0
2              0              0               1           0            0
3              1              0               0           0            0
4              0              0               0           1            0
5              0              0               0           0            0
6              1              0               0           0            0
7              0              0               0           0            1