In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import matplotlib.pyplot as plt

In [4]:
import seaborn as sns

In [5]:
np.arange(1,11)

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [6]:
a=np.arange(1,11)

In [7]:
a

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [12]:
df1=pd.DataFrame(a,columns=["Num"])

In [13]:
df1

   Num
0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
9   10

In [15]:
df1["Num"]

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
Name: Num, dtype: int32

In [ ]:
from sklearn.preprocessing import PolynomialFeatures